{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('register') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('register') }}
    {% endblock %}

{% block body %}
    {{ parent() }}
    <h1>{{ 'register.registration'|trans }}</h1>

    <div class="container w-25">
        {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-success">{{ 'register.register'|trans }}</button>

        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
